@{
    ViewBag.Title = "About US";
}
<h2>@ViewBag.Title.</h2>
<hr class="bg-red">
<div class="grid">
    <div class="row">
        <p>

            Money Tracker is a web application developed as a Faculty Project, by a small and very enthusiastic team.
            The purpose of this project is to create a web application about tracking your own bugdet.
            The application provides a great variaty of options about tracking your bugdet.
            When adding an item that you are buying, on your list, you can categorize it in a pre-defined categories.
            Or you can create your own custom category. <br />For each item, you have to enter the price that have you paid.
            Using the settings, you can choose/change the currency.
            For every week or mounth, you can check your Stats, where you have a detailed view on your spent money.
            You can see when, on what and where you spent your money during the week/mounth/year.
            You can also edit your profile, by adding your name, your birthday and you address.<br />
            Using our web app, you will track on what you are spending most of your money, and you will learn how to save them.
            <br />
        </p>
        <b>
            We developed this web app by using the following web technologies:
        </b><br />
     </div>
    <div class="row cells2">
        <div class="cell">
            <ul class="simple-list large-bullet red-bullet">
                <li>ASP.NET MVC 4.5</li>
                <li>Entity Framework 6.0</li>
                <li>Web Api 2.0</li>
                <li>OWIN OAuth 2.0</li>
                <li>Metro.UI Framework</li>
            </ul>
        </div>
        
        <div class="cell image-container">

            <img src="~/Images/12021825_10207439730820486_394060368_n.jpg" style="height: 240px; width:auto; float:right;"/>
        </div>
    </div>
</div>
<hr class="bg-red">
