@{
    ViewBag.Title = "Home Page";
}

<div class="grid">
    <div class="row">
        <div class="presenter" data-role="presenter">
            <div class="scene ">
                <div class="act">
                    <element class="actor"></element>
                        <div class="grid">
                            <div class="row cells2">
                                <div class="cell">
                                    <h3>
                                        Manage your money to get out and stay out of debt <br />
                                        Sign Up Today! It's <b>FREE</b>!
                                    </h3> <br />
                                    <a class="button primary" href="~/Account/Register">SIGN UP</a>
                                </div>
                                <div class="cell flex-align-end">
                                    <div class="image-container">
                                        <img src="~/Images/11973046_10207429842893294_518670708_n.gif" style="height: 185px; width:auto; float:right;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    <element class="actor"></element>
                </div>
            </div>
    </div>
 </div>

        <div class="row">
            <div class="panel">
                <div class="heading">
                     <span class="icon mif-home"></span>
                    <span class="title">Welcome to MoneyTracker</span>
                </div>
                <div class="content">
                    Budget your finances to keep track of where your money is going.
                    MoneyTracker is a complete online money management tool designed to keep track of
                    all your spendings and savings from your computer, mobile phone, or iPad.
                    Get started for <b>Free</b>!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel warning">
                <div class="heading">
                   
                    <span class="title">Track Spending</span>
                </div>
                <div class="content">
                    Sync your spendings by importing them, or enter them Manually so you can always stay on top of your Budget.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel success">
                <div class="heading">
                 
                    <span class="title">Create a Budget</span>
                </div>
                <div class="content">
                    Stay on top of your budget by category which you can define on your own. Spend your money reasonably and always have a clue what and where you are shopping.
                </div>
            </div>
        </div>
 
</div>
<hr />


