@{
    ViewBag.Title = "Login Failure";
}

<h2>@ViewBag.Title.</h2>
<hr class="bg-red">
<h3>Unsuccessful login with service.</h3>
<h3>Please try again, if the error persists feel free to contact us</h3>
<hr class="bg-red">

