
@{
    ViewBag.Title = "NoEntries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr class="bg-red">
<h3>You have no enteries that can be used to calculate the stats</h3>
<h3>Plase go the the dashboard to add some enteries</h3>
<hr class="bg-red">


